<h2 class="border">Foundry Virtual Tabletop - Version # Phase # Release Notes</h2>
<figure>
    <img src="{BANNER_IMG}" title="Foundry VTT - Version # Phase # Release Notes" alt="Release Notes for Foundry Virtual Tabletop Version #"/>
    <figcaption>Welcome to the Foundry Virtual Tabletop update notes for Version # Phase #.</figcaption>
</figure>

<p>{PREAMBLE}</p>

<p class="note warning"><strong>WARNING:</strong> {RELEVANT_WARNING_MESSAGES}</p>

<p>{SUMMARY_OF_MAJOR_FEATURES}</p>

<h2 class="border">Update Highlights</h2>

<p>{EXPLANATION_OF_UPDATE_THEMES}</p>
<h4>{Theme 1}</h4>
<h4>{Theme 2}</h4>
<h4>{Theme 3}</h4>
<p>{POSTAMBLE}</p>
{{#if this.breaking}}
<div>
<h2 class="border">Breaking Changes</h2>

{{#if this.breaking.architecture}}
<h3>Architecture and Infrastructure</h3>
<ul>
    {{#each this.breaking.architecture as |value key|}}
    <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
    {{/each}}
</ul>
{{/if}}

{{#if this.breaking.documents}}
<h3>Documents and Data</h3>
<ul>
    {{#each this.breaking.documents as |value key|}}
    <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
    {{/each}}
</ul>
{{/if}}
{{#if this.breaking.canvas}}
<h3>The Game Canvas</h3>
<ul>
    {{#each this.breaking.canvas as |value key|}}
    <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
    {{/each}}
</ul>
{{/if}}
{{#if this.breaking.application}}
<h3>Interface and Applications</h3>
<ul>
    {{#each this.breaking.application as |value key|}}
    <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
    {{/each}}
</ul>
{{/if}}
{{#if this.breaking.dice}}
<h3>Dice System</h3>
<ul>
    {{#each this.breaking.dice as |value key|}}
    <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
    {{/each}}
</ul>
{{/if}}
{{#if this.breaking.other}}
<h3>Other Changes</h3>
<ul>
    {{#each this.breaking.other as |value key|}}
    <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
    {{/each}}
</ul>
{{/if}}
</div>
{{/if}}
{{#if this.features}}
<div>
<h2 class="border">New Features</h2>
    {{#if this.features.architecture}}
    <h3>Architecture and Infrastructure</h3>
    <ul>
        {{#each this.features.architecture as |value key|}}
        <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
        {{/each}}
    </ul>
    {{/if}}

    {{#if this.features.documents}}
    <h3>Documents and Data</h3>
    <ul>
        {{#each this.features.documents as |value key|}}
        <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
        {{/each}}
    </ul>
    {{/if}}
    {{#if this.features.canvas}}
    <h3>The Game Canvas</h3>
    <ul>
        {{#each this.features.canvas as |value key|}}
        <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
        {{/each}}
    </ul>
    {{/if}}
    {{#if this.features.application}}
    <h3>Interface and Applications</h3>
    <ul>
        {{#each this.features.application as |value key|}}
        <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
        {{/each}}
    </ul>
    {{/if}}
    {{#if this.features.dice}}
    <h3>Dice System</h3>
    <ul>
        {{#each this.features.dice as |value key|}}
        <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
        {{/each}}
    </ul>
    {{/if}}
    {{#if this.features.other}}
    <h3>Other Changes</h3>
    <ul>
        {{#each this.features.other as |value key|}}
        <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
        {{/each}}
    </ul>
    {{/if}}
</div>
{{/if}}
{{#if this.api}}
<div>
<h2 class="border">API Improvements</h2>
    {{#if this.api.architecture}}
    <h3>Architecture and Infrastructure</h3>
    <ul>
        {{#each this.api.architecture as |value key|}}
        <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
        {{/each}}
    </ul>
    {{/if}}

    {{#if this.api.documents}}
    <h3>Documents and Data</h3>
    <ul>
        {{#each this.api.documents as |value key|}}
        <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
        {{/each}}
    </ul>
    {{/if}}
    {{#if this.api.canvas}}
    <h3>The Game Canvas</h3>
    <ul>
        {{#each this.api.canvas as |value key|}}
        <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
        {{/each}}
    </ul>
    {{/if}}
    {{#if this.api.application}}
    <h3>Interface and Applications</h3>
    <ul>
        {{#each this.api.application as |value key|}}
        <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
        {{/each}}
    </ul>
    {{/if}}
    {{#if this.api.dice}}
    <h3>Dice System</h3>
    <ul>
        {{#each this.api.dice as |value key|}}
        <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
        {{/each}}
    </ul>
    {{/if}}
    {{#if this.api.other}}
    <h3>Other Changes</h3>
    <ul>
        {{#each this.api.other as |value key|}}
        <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
        {{/each}}
    </ul>
    {{/if}}
</div>
{{/if}}
{{#if this.documentation}}
<div>
    <h2 class="border">Documentation Improvements</h2>
    <ul>
        {{#each this.documentation as |value key|}}
        <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
        {{/each}}
    </ul>
</div>
{{/if}}

{{#if this.i18n}}
<div>
<h2 class="border">Localization Improvements</h2>
<ul>
    {{#each this.i18n as |value key|}}
    <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
    {{/each}}
</ul>
</div>
{{/if}}
{{#if this.bugs}}
<div>
<h2 class="border">Bug Fixes</h2>
    {{#if this.bugs.architecture}}
    <h3>Architecture and Infrastructure</h3>
    <ul>
        {{#each this.bugs.architecture as |value key|}}
        <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
        {{/each}}
    </ul>
    {{/if}}

    {{#if this.bugs.documents}}
    <h3>Documents and Data</h3>
    <ul>
        {{#each this.bugs.documents as |value key|}}
        <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
        {{/each}}
    </ul>
    {{/if}}
    {{#if this.bugs.canvas}}
    <h3>The Game Canvas</h3>
    <ul>
        {{#each this.bugs.canvas as |value key|}}
        <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
        {{/each}}
    </ul>
    {{/if}}
    {{#if this.bugs.application}}
    <h3>Interface and Applications</h3>
    <ul>
        {{#each this.bugs.application as |value key|}}
        <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
        {{/each}}
    </ul>
    {{/if}}
    {{#if this.bugs.dice}}
    <h3>Dice System</h3>
    <ul>
        {{#each this.bugs.dice as |value key|}}
        <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
        {{/each}}
    </ul>
    {{/if}}
    {{#if this.bugs.other}}
    <h3>Other Changes</h3>
    <ul>
        {{#each this.bugs.other as |value key|}}
        <li>{{value.title}} <a href="{{value.url}}" target="_blank">({{value.id}})</a></li>
        {{/each}}
    </ul>
    {{/if}}
</div>
{{/if}}

